<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/app.css" rel="stylesheet" />
		<link href="../css/oneday/setting.css" rel="stylesheet" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">设置</h1>
		</header>
		<div class="mui-content">
			<ul class="mui-table-view mui-table-view-chevron">
				<li class="mui-table-view-cell mui-media" id="userInfo" style="display: block;">
					<!--<a href="#general" class="mui-pull-left" style="padding: 10px; margin: 0;">
										<img class="mui-media-object mui-pull-left head-img" id="head-img" src="../img/ui.png">
								</a>-->
					<a class="mui-navigate-right outlink" id="profile" href="profile.html">
						<img class="mui-media-object mui-pull-left head-img" id="head-img" src="../img/ui.png">

						<div class="mui-media-body">
							个人主页
							<p class='mui-ellipsis'>Abel Name</p>
						</div>
					</a>

				</li>
				<li class="mui-table-view-divider mui-media" id="defaultInfo" style="display: block;">
					<!--<a href="#general" class="mui-pull-left" style="padding: 10px; margin: 0;">
										<img class="mui-media-object mui-pull-left head-img" id="head-img" src="../img/ui.png">
								</a>-->
					<!--<a class="mui-navigate-right outlink" id="profile" href="regist.html">
						<img class="mui-media-object mui-pull-left head-img" id="head-img" src="../img/ui.png">

						<div class="mui-media-body">
							个人主页
							<p class='mui-ellipsis'>Abel Name</p>
						</div>
					</a>-->
					<div class="mui-media-body">
						<a href="login.html" class="mui-btn login-link">登录</a><a href="regist.html" class="mui-btn-link regist-link">注册</a>
					</div>

				</li>
			</ul>
			<ul class="mui-table-view mui-table-view-chevron">
				<li class="mui-table-view-cell">
					<a href="login.html" class="mui-navigate-right">账号与安全</a>
				</li>
			</ul>

			<ul class="mui-table-view mui-table-view-chevron">
				<li class="mui-table-view-cell">
					<a href="regist.html" class="mui-navigate-right">会员中心</a>
				</li>
			</ul>

			<ul class="mui-table-view mui-table-view-chevron">
				<li class="mui-table-view-cell">
					<a href="regist.html" class="mui-navigate-right">消息</a>
				</li>
				<li class="mui-table-view-cell">
					<a href="regist.html" class="mui-navigate-right">黑名单</a>
				</li>
			</ul>
			<ul class="mui-table-view mui-table-view-chevron">
				<li class="mui-table-view-cell">
					<a href="regist.html" class="mui-navigate-right">关于小梧桐 <i class="mui-pull-right update">V3.4.0</i></a>
				</li>
			</ul>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell" style="text-align: center;" id="login-btn">
					退出登录
				</li>
			</ul>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/oneday/base.js"></script>
		<script src="../js/oneday/setting.js"></script>
	</body>

</html>