

.item {
	margin: 10px auto;
    width: 100%;
    background-color: #fff;
    padding: 20px 0 10px;
    border-bottom: 1px solid #D9D9D9;
    position: relative;
}

.user-box .user-img {
	margin: 10px;
	width: 20%;
    height: 0;
    position: relative;
    padding-top: 20%;
	overflow: hidden;
	float: left;
}

.user-box .user-img  img {
	width: 100%; 
	height: 100%; 
	position: absolute;
	left: 0;
	top: 0;
}

.user-box .user-u {
	float: left;
	width: 60%;
}

.unread-count {
	position: absolute;
    right: 0;
    top: -10%;
    width: 25%;
    height: 25%;
    background-color: red;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    z-index: 2;
}

.btn-send {
	position: absolute;
	right: 5%;
	bottom: 35%;
	color: #e8f0de; 
	background: #64991e; 
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e)); 
	background: -moz-linear-gradient(top, #7db72f, #4e7d0e); 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}

.btn-sendsucc {
	background: ##F3F3F3;
}
