.mui-table-view {
	margin-top: 20px;
}

textarea,
pre {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
}

.mui-popup-button {
	color: #000000;
}

.mui-dtpicker .mui-btn-blue {
	background-color: #030303;
	border-color: #030303;
}

.mui-poppicker .mui-btn-blue {
	background-color: #030303;
	border-color: #030303;
}

.expandingArea {
	position: relative;
	background: #fff;
}

.expandingArea textarea,
.expandingArea pre {
	padding: 5px;
	background: transparent;
	/* Make the text soft-wrap */
	white-space: pre-wrap;
	word-wrap: break-word;
}

.expandingArea textarea {
	/* The border-box box model is used to allow
       * padding whilst still keeping the overall width
       * at exactly that of the containing element.
       */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	/* This height is used when JS is disabled */
	height: 100px;
}

.expandingArea.active textarea {
	/* Hide any scrollbars */
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	/* Remove WebKit user-resize widget */
	resize: none;
}

.expandingArea pre {
	display: none;
}

.expandingArea.active pre {
	display: block;
	/* Hide the text; just using it for sizing */
	visibility: hidden;
}

#head-img {
	position: absolute;
	bottom: 10px;
	right: 40px;
	width: 40px;
	height: 40px;
}
.head {
    height: 40px;
}
#head {
    line-height: 40px;
}