.mui-page .mui-table-view:first-child {
    margin-top: 15px;
}
.mui-table-view {
    margin-top: 20px;
}
.regist-link {
	padding: 6px 5px;
    display: inline-block;
    text-decoration: underline;
}
.login-link {
	width: 80px;
	margin-right: 5px;
}